# Installation

In [1]:
import pandas as pd
import numpy as np
import requests
import time
from datetime import datetime
from neo4j import GraphDatabase

In [2]:
API_KEY = '60a75a67001df36d1cc057304041449a4bfcbd91'

# Merging Datasets

In [3]:
zhvi = pd.read_csv('zhvi_county.csv')

zhvi

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,216925.689482,...,848125.211382,861576.310878,875090.006239,886090.536575,894353.775553,899476.763570,898415.966499,893419.408660,889452.411902,890117.154802
1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,148189.573478,...,289851.113537,292176.632577,294120.524613,295576.957386,296485.099881,296942.051291,297175.941476,298123.360542,300148.224126,302808.568850
2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,111163.898119,...,284115.826008,284942.921293,285285.546335,285330.530154,285075.672865,284779.950217,284892.763352,285362.111936,286379.077764,287437.500021
3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,144616.336710,...,458798.644089,461787.231060,464309.819380,466515.707362,468317.550291,469285.775044,469652.674075,470195.724301,471660.643597,473449.792698
4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,221261.489834,...,887455.220338,899586.073037,911309.068609,920924.537315,927540.344256,931028.784181,933368.621431,938045.375034,946516.986252,957091.247286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3069,846,3206,Banner County,county,NE,NE,"Scottsbluff, NE",31,7,NaN,...,318909.390627,324227.887475,328655.590077,332541.195380,334721.650678,335207.100035,333803.280834,332367.552617,333748.780555,336741.819629
3070,1648,3207,Daggett County,county,UT,UT,NaN,49,9,NaN,...,NaN,NaN,NaN,323466.065786,322581.052867,321825.359432,321145.094190,321813.352238,322674.504490,322735.058421
3071,1432,3208,Thomas County,county,NE,NE,NaN,31,171,NaN,...,NaN,NaN,NaN,NaN,142789.807141,142302.859053,142127.413467,141928.613809,142103.547814,142539.049729
3072,2794,3212,McPherson County,county,NE,NE,"North Platte, NE",31,117,NaN,...,275196.634617,279832.336994,283900.407649,287126.258899,289278.935623,291204.240730,292988.986457,295299.675268,299529.989050,305176.079206
3073,2825,3214,Petroleum County,county,MT,MT,NaN,30,69,NaN,...,204520.835258,204638.673983,204096.015125,203771.288953,203009.244541,201803.922846,201566.791261,203396.004689,206978.518030,210780.713086

In [4]:
df= zhvi

date_columns = [col for col in df.columns if '-' in col]
years = [col.split('-')[0] for col in date_columns]
year_to_columns = {year: [] for year in set(years)}

for col, year in zip(date_columns, years):
    year_to_columns[year].append(col)
    
df_avg = df.drop(columns=date_columns).copy()

for year, cols in year_to_columns.items():
    df_avg[year] = df[cols].mean(axis=1, skipna=True)

df_avg

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2018,...,2013,2009,2006,2005,2008,2000,2014,2015,2020,2011
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,621041.875761,...,413367.526346,395488.210117,571915.777258,502154.544215,478961.167047,225575.291250,467421.730158,493329.506511,678744.725459,370021.247571
1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,231962.813492,...,167472.384138,213321.012981,260505.384791,240127.978169,247001.917685,152371.153395,187767.400216,197564.055315,241843.562995,175997.391212
2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,193903.462329,...,133201.326267,134493.919994,135391.036668,133561.344113,138454.582739,111639.161497,149536.640099,166208.908352,211437.922809,127473.166932
3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,275284.116113,...,188059.831584,176617.406279,304466.250656,245555.762330,236214.203953,148126.391050,209946.586531,221067.229845,321827.848568,140071.996551
4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,599028.850019,...,407181.803531,369835.569888,549167.625316,541390.786883,436157.325255,234887.255781,455299.811442,487252.407992,641911.976748,354421.569709
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3069,846,3206,Banner County,county,NE,NE,"Scottsbluff, NE",31,7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3070,1648,3207,Daggett County,county,UT,UT,NaN,49,9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3071,1432,3208,Thomas County,county,NE,NE,NaN,31,171,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3072,2794,3212,McPherson County,county,NE,NE,"North Platte, NE",31,117,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,214375.024678,NaN
3073,2825,3214,Petroleum County,county,MT,MT,NaN,30,69,130170.961750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146024.897224,NaN

In [8]:
# filter 2010 to 2021

df_avg_sorted = df_avg.reindex(sorted(df_avg.columns), axis=1)
df_avg_sorted_filtered = df_avg_sorted.drop(columns=['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2022', '2023', '2024'])
df_avg_sorted_filtered

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,...,2021,Metro,MunicipalCodeFIPS,RegionID,RegionName,RegionType,SizeRank,State,StateCodeFIPS,StateName
0,391800.758750,370021.247571,359359.781033,413367.526346,467421.730158,493329.506511,512422.260226,556816.255058,621041.875761,643540.730462,...,774253.926188,"Los Angeles-Long Beach-Anaheim, CA",37,3101,Los Angeles County,county,0,CA,6,CA
1,195895.506753,175997.391212,160009.360039,167472.384138,187767.400216,197564.055315,209375.472283,220579.787072,231962.813492,235328.661939,...,265912.690560,"Chicago-Naperville-Elgin, IL-IN-WI",31,139,Cook County,county,1,IL,17,IL
2,133684.697930,127473.166932,125860.876114,133201.326267,149536.640099,166208.908352,177454.225391,185192.688212,193903.462329,202957.819887,...,238765.609912,"Houston-The Woodlands-Sugar Land, TX",201,1090,Harris County,county,2,TX,48,TX
3,158523.953547,140071.996551,152406.961403,188059.831584,209946.586531,221067.229845,240703.953236,255982.961388,275284.116113,292423.168507,...,398244.926248,"Phoenix-Mesa-Chandler, AZ",13,2402,Maricopa County,county,3,AZ,4,AZ
4,374702.662441,354421.569709,351974.029262,407181.803531,455299.811442,487252.407992,525004.500223,563629.359331,599028.850019,608870.171560,...,754307.049867,"San Diego-Chula Vista-Carlsbad, CA",73,2841,San Diego County,county,4,CA,6,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,298061.143389,"Scottsbluff, NE",7,846,Banner County,county,3206,NE,31,NE
3070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9,1648,Daggett County,county,3207,UT,49,UT
3071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,171,1432,Thomas County,county,3208,NE,31,NE
3072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,243615.369290,"North Platte, NE",117,2794,McPherson County,county,3212,NE,31,NE
3073,NaN,NaN,NaN,NaN,NaN,NaN,112320.603181,112907.767105,130170.961750,136771.571389,...,173553.685679,NaN,69,2825,Petroleum County,county,3214,MT,30,MT

In [5]:
State = 'TX'

state_filtered_data = zhvi[zhvi['State'] == State]
state_region_names = state_filtered_data['RegionName'].unique()

state_region_ids = ''
#print(state_region_names)

In [5]:
factors = {
    "S0101":  "Age and Sex",
    "S1401": "School Enrollment",
    "S2403" : "Industry by Sex for the Civilian Employed Population 16 Years and Over" 
}

In [15]:

def get_cencus_data(year, factor, county):
    url = f"https://api.census.gov/data/{year}/acs/acs1/subject?get=group({factor})"
    print(url)
    response = requests.get(url)
    data = response.json()
    columns = data[0]
    rows = data[1:]
    df = pd.DataFrame(rows, columns=columns)
    return df

def get_variables(year, factor):
    url = f"https://api.census.gov/data/{year}/acs/acs1/subject/groups/{factor}"
    print(url)
    response = requests.get(url)
    time.sleep(2)
    data = response.json()
    return data['variables']

year, factor, county = "2015", list(factors)[0], '06059'
df = get_cencus_data(year, factor, county)
variables = get_variables(year, factor)

https://api.census.gov/data/2015/acs/acs1/subject?get=group(S0101)
https://api.census.gov/data/2015/acs/acs1/subject/groups/S0101

In [14]:
df['S0101_C01_030E']

0    37.8
Name: S0101_C01_030E, dtype: object

In [ ]:
x = 'S0101_C01_006E'
l= 'Total!!Estimate!!AGE!!20 to 24 years'

In [7]:
for col in range(2, len(df.columns)-1):
    id = df.columns[col]
    print(f"column id: {id}, name: {variables[id]['label']} \n")

column id: S0101_C01_001E, name: Total!!Estimate!!Total population

column id: S0101_C01_001EA, name: Annotation of Total!!Estimate!!Total population

column id: S0101_C01_001M, name: Total!!Margin of Error!!Total population

column id: S0101_C01_001MA, name: Annotation of Total!!Margin of Error!!Total population

column id: S0101_C01_002E, name: Total!!Estimate!!AGE!!Under 5 years

column id: S0101_C01_002EA, name: Annotation of Total!!Estimate!!AGE!!Under 5 years

column id: S0101_C01_002M, name: Total!!Margin of Error!!AGE!!Under 5 years

column id: S0101_C01_002MA, name: Annotation of Total!!Margin of Error!!AGE!!Under 5 years

column id: S0101_C01_003E, name: Total!!Estimate!!AGE!!5 to 9 years

column id: S0101_C01_003EA, name: Annotation of Total!!Estimate!!AGE!!5 to 9 years

column id: S0101_C01_003M, name: Total!!Margin of Error!!AGE!!5 to 9 years

column id: S0101_C01_003MA, name: Annotation of Total!!Margin of Error!!AGE!!5 to 9 years

column id: S0101_C01_004E, name: Total!!Estimate!!AGE!!10 to 14 years

column id: S0101_C01_004EA, name: Annotation of Total!!Estimate!!AGE!!10 to 14 years

column id: S0101_C01_004M, name: Total!!Margin of Error!!AGE!!10 to 14 years

column id: S0101_C01_004MA, name: Annotation of Total!!Margin of Error!!AGE!!10 to 14 years

column id: S0101_C01_005E, name: Total!!Estimate!!AGE!!15 to 19 years

column id: S0101_C01_005EA, name: Annotation of Total!!Estimate!!AGE!!15 to 19 years

column id: S0101_C01_005M, name: Total!!Margin of Error!!AGE!!15 to 19 years

column id: S0101_C01_005MA, name: Annotation of Total!!Margin of Error!!AGE!!15 to 19 years

column id: S0101_C01_006E, name: Total!!Estimate!!AGE!!20 to 24 years

column id: S0101_C01_006EA, name: Annotation of Total!!Estimate!!AGE!!20 to 24 years

column id: S0101_C01_006M, name: Total!!Margin of Error!!AGE!!20 to 24 years

column id: S0101_C01_006MA, name: Annotation of Total!!Margin of Error!!AGE!!20 to 24 years

column id: S0101_C01_007E, name: Total!!Estimate!!AGE!!25 to 29 years

column id: S0101_C01_007EA, name: Annotation of Total!!Estimate!!AGE!!25 to 29 years

column id: S0101_C01_007M, name: Total!!Margin of Error!!AGE!!25 to 29 years

column id: S0101_C01_007MA, name: Annotation of Total!!Margin of Error!!AGE!!25 to 29 years

column id: S0101_C01_008E, name: Total!!Estimate!!AGE!!30 to 34 years

column id: S0101_C01_008EA, name: Annotation of Total!!Estimate!!AGE!!30 to 34 years

column id: S0101_C01_008M, name: Total!!Margin of Error!!AGE!!30 to 34 years

column id: S0101_C01_008MA, name: Annotation of Total!!Margin of Error!!AGE!!30 to 34 years

column id: S0101_C01_009E, name: Total!!Estimate!!AGE!!35 to 39 years

column id: S0101_C01_009EA, name: Annotation of Total!!Estimate!!AGE!!35 to 39 years

column id: S0101_C01_009M, name: Total!!Margin of Error!!AGE!!35 to 39 years

column id: S0101_C01_009MA, name: Annotation of Total!!Margin of Error!!AGE!!35 to 39 years

column id: S0101_C01_010E, name: Total!!Estimate!!AGE!!40 to 44 years

column id: S0101_C01_010EA, name: Annotation of Total!!Estimate!!AGE!!40 to 44 years

column id: S0101_C01_010M, name: Total!!Margin of Error!!AGE!!40 to 44 years

column id: S0101_C01_010MA, name: Annotation of Total!!Margin of Error!!AGE!!40 to 44 years

column id: S0101_C01_011E, name: Total!!Estimate!!AGE!!45 to 49 years

column id: S0101_C01_011EA, name: Annotation of Total!!Estimate!!AGE!!45 to 49 years

column id: S0101_C01_011M, name: Total!!Margin of Error!!AGE!!45 to 49 years

column id: S0101_C01_011MA, name: Annotation of Total!!Margin of Error!!AGE!!45 to 49 years

column id: S0101_C01_012E, name: Total!!Estimate!!AGE!!50 to 54 years

column id: S0101_C01_012EA, name: Annotation of Total!!Estimate!!AGE!!50 to 54 years

column id: S0101_C01_012M, name: Total!!Margin of Error!!AGE!!50 to 54 years

column id: S0101_C01_012MA, name: Annotation of Total!!Margin of Error!!AGE!!50 to 54 years

column id: S0101_C01_013E, name: Total!!Estimate!!AGE!!55 to 59 years

column id: S0101_C01_013EA, name: Annotation of Total!!Estimate!!AGE!!55 to 59 years

column id: S0101_C01_013M, name: Total!!Margin of Error!!AGE!!55 to 59 years

column id: S0101_C01_013MA, name: Annotation of Total!!Margin of Error!!AGE!!55 to 59 years

column id: S0101_C01_014E, name: Total!!Estimate!!AGE!!60 to 64 years

column id: S0101_C01_014EA, name: Annotation of Total!!Estimate!!AGE!!60 to 64 years

column id: S0101_C01_014M, name: Total!!Margin of Error!!AGE!!60 to 64 years

column id: S0101_C01_014MA, name: Annotation of Total!!Margin of Error!!AGE!!60 to 64 years

column id: S0101_C01_015E, name: Total!!Estimate!!AGE!!65 to 69 years

column id: S0101_C01_015EA, name: Annotation of Total!!Estimate!!AGE!!65 to 69 years

column id: S0101_C01_015M, name: Total!!Margin of Error!!AGE!!65 to 69 years

column id: S0101_C01_015MA, name: Annotation of Total!!Margin of Error!!AGE!!65 to 69 years

column id: S0101_C01_016E, name: Total!!Estimate!!AGE!!70 to 74 years

column id: S0101_C01_016EA, name: Annotation of Total!!Estimate!!AGE!!70 to 74 years

column id: S0101_C01_016M, name: Total!!Margin of Error!!AGE!!70 to 74 years

column id: S0101_C01_016MA, name: Annotation of Total!!Margin of Error!!AGE!!70 to 74 years

column id: S0101_C01_017E, name: Total!!Estimate!!AGE!!75 to 79 years

column id: S0101_C01_017EA, name: Annotation of Total!!Estimate!!AGE!!75 to 79 years

column id: S0101_C01_017M, name: Total!!Margin of Error!!AGE!!75 to 79 years

column id: S0101_C01_017MA, name: Annotation of Total!!Margin of Error!!AGE!!75 to 79 years

column id: S0101_C01_018E, name: Total!!Estimate!!AGE!!80 to 84 years

column id: S0101_C01_018EA, name: Annotation of Total!!Estimate!!AGE!!80 to 84 years

column id: S0101_C01_018M, name: Total!!Margin of Error!!AGE!!80 to 84 years

column id: S0101_C01_018MA, name: Annotation of Total!!Margin of Error!!AGE!!80 to 84 years

column id: S0101_C01_019E, name: Total!!Estimate!!AGE!!85 years and over

column id: S0101_C01_019EA, name: Annotation of Total!!Estimate!!AGE!!85 years and over

column id: S0101_C01_019M, name: Total!!Margin of Error!!AGE!!85 years and over

column id: S0101_C01_019MA, name: Annotation of Total!!Margin of Error!!AGE!!85 years and over

column id: S0101_C01_020E, name: Total!!Estimate!!SELECTED AGE CATEGORIES!!5 to 14 years

column id: S0101_C01_020EA, name: Annotation of Total!!Estimate!!SELECTED AGE CATEGORIES!!5 to 14 years

column id: S0101_C01_020M, name: Total!!Margin of Error!!SELECTED AGE CATEGORIES!!5 to 14 years

column id: S0101_C01_020MA, name: Annotation of Total!!Margin of Error!!SELECTED AGE CATEGORIES!!5 to 14 years

column id: S0101_C01_021E, name: Total!!Estimate!!SELECTED AGE CATEGORIES!!15 to 17 years

column id: S0101_C01_021EA, name: Annotation of Total!!Estimate!!SELECTED AGE CATEGORIES!!15 to 17 years

column id: S0101_C01_021M, name: Total!!Margin of Error!!SELECTED AGE CATEGORIES!!15 to 17 years

column id: S0101_C01_021MA, name: Annotation of Total!!Margin of Error!!SELECTED AGE CATEGORIES!!15 to 17 years

column id: S0101_C01_022E, name: Total!!Estimate!!SELECTED AGE CATEGORIES!!18 to 24 years

column id: S0101_C01_022EA, name: Annotation of Total!!Estimate!!SELECTED AGE CATEGORIES!!18 to 24 years

column id: S0101_C01_022M, name: Total!!Margin of Error!!SELECTED AGE CATEGORIES!!18 to 24 years

column id: S0101_C01_022MA, name: Annotation of Total!!Margin of Error!!SELECTED AGE CATEGORIES!!18 to 24 years

column id: S0101_C01_023E, name: Total!!Estimate!!SELECTED AGE CATEGORIES!!15 to 44 years

column id: S0101_C01_023EA, name: Annotation of Total!!Estimate!!SELECTED AGE CATEGORIES!!15 to 44 years

column id: S0101_C01_023M, name: Total!!Margin of Error!!SELECTED AGE CATEGORIES!!15 to 44 years

column id: S0101_C01_023MA, name: Annotation of Total!!Margin of Error!!SELECTED AGE CATEGORIES!!15 to 44 years

column id: S0101_C01_024E, name: Total!!Estimate!!SELECTED AGE CATEGORIES!!16 years and over

column id: S0101_C01_024EA, name: Annotation of Total!!Estimate!!SELECTED AGE CATEGORIES!!16 years and over

column id: S0101_C01_024M, name: Total!!Margin of Error!!SELECTED AGE CATEGORIES!!16 years and over

column id: S0101_C01_024MA, name: Annotation of Total!!Margin of Error!!SELECTED AGE CATEGORIES!!16 years and over

column id: S0101_C01_025E, name: Total!!Estimate!!SELECTED AGE CATEGORIES!!18 years and over

column id: S0101_C01_025EA, name: Annotation of Total!!Estimate!!SELECTED AGE CATEGORIES!!18 years and over

column id: S0101_C01_025M, name: Total!!Margin of Error!!SELECTED AGE CATEGORIES!!18 years and over

column id: S0101_C01_025MA, name: Annotation of Total!!Margin of Error!!SELECTED AGE CATEGORIES!!18 years and over

column id: S0101_C01_026E, name: Total!!Estimate!!SELECTED AGE CATEGORIES!!60 years and over

column id: S0101_C01_026EA, name: Annotation of Total!!Estimate!!SELECTED AGE CATEGORIES!!60 years and over

column id: S0101_C01_026M, name: Total!!Margin of Error!!SELECTED AGE CATEGORIES!!60 years and over

column id: S0101_C01_026MA, name: Annotation of Total!!Margin of Error!!SELECTED AGE CATEGORIES!!60 years and over

column id: S0101_C01_027E, name: Total!!Estimate!!SELECTED AGE CATEGORIES!!62 years and over

column id: S0101_C01_027EA, name: Annotation of Total!!Estimate!!SELECTED AGE CATEGORIES!!62 years and over

column id: S0101_C01_027M, name: Total!!Margin of Error!!SELECTED AGE CATEGORIES!!62 years and over

column id: S0101_C01_027MA, name: Annotation of Total!!Margin of Error!!SELECTED AGE CATEGORIES!!62 years and over

column id: S0101_C01_028E, name: Total!!Estimate!!SELECTED AGE CATEGORIES!!65 years and over

column id: S0101_C01_028EA, name: Annotation of Total!!Estimate!!SELECTED AGE CATEGORIES!!65 years and over

column id: S0101_C01_028M, name: Total!!Margin of Error!!SELECTED AGE CATEGORIES!!65 years and over

column id: S0101_C01_028MA, name: Annotation of Total!!Margin of Error!!SELECTED AGE CATEGORIES!!65 years and over

column id: S0101_C01_029E, name: Total!!Estimate!!SELECTED AGE CATEGORIES!!75 years and over

column id: S0101_C01_029EA, name: Annotation of Total!!Estimate!!SELECTED AGE CATEGORIES!!75 years and over

column id: S0101_C01_029M, name: Total!!Margin of Error!!SELECTED AGE CATEGORIES!!75 years and over

column id: S0101_C01_029MA, name: Annotation of Total!!Margin of Error!!SELECTED AGE CATEGORIES!!75 years and over

column id: S0101_C01_030E, name: Total!!Estimate!!SUMMARY INDICATORS!!Median age (years)

column id: S0101_C01_030EA, name: Annotation of Total!!Estimate!!SUMMARY INDICATORS!!Median age (years)

column id: S0101_C01_030M, name: Total!!Margin of Error!!SUMMARY INDICATORS!!Median age (years)

column id: S0101_C01_030MA, name: Annotation of Total!!Margin of Error!!SUMMARY INDICATORS!!Median age (years)

column id: S0101_C01_031E, name: Total!!Estimate!!SUMMARY INDICATORS!!Sex ratio (males per 100 females)

column id: S0101_C01_031EA, name: Annotation of Total!!Estimate!!SUMMARY INDICATORS!!Sex ratio (males per 100 females)

column id: S0101_C01_031M, name: Total!!Margin of Error!!SUMMARY INDICATORS!!Sex ratio (males per 100 females)

column id: S0101_C01_031MA, name: Annotation of Total!!Margin of Error!!SUMMARY INDICATORS!!Sex ratio (males per 100 females)

column id: S0101_C01_032E, name: Total!!Estimate!!SUMMARY INDICATORS!!Age dependency ratio

column id: S0101_C01_032EA, name: Annotation of Total!!Estimate!!SUMMARY INDICATORS!!Age dependency ratio

column id: S0101_C01_032M, name: Total!!Margin of Error!!SUMMARY INDICATORS!!Age dependency ratio

column id: S0101_C01_032MA, name: Annotation of Total!!Margin of Error!!SUMMARY INDICATORS!!Age dependency ratio

column id: S0101_C01_033E, name: Total!!Estimate!!SUMMARY INDICATORS!!Old-age dependency ratio

column id: S0101_C01_033EA, name: Annotation of Total!!Estimate!!SUMMARY INDICATORS!!Old-age dependency ratio

column id: S0101_C01_033M, name: Total!!Margin of Error!!SUMMARY INDICATORS!!Old-age dependency ratio

column id: S0101_C01_033MA, name: Annotation of Total!!Margin of Error!!SUMMARY INDICATORS!!Old-age dependency ratio

column id: S0101_C01_034E, name: Total!!Estimate!!SUMMARY INDICATORS!!Child dependency ratio

column id: S0101_C01_034EA, name: Annotation of Total!!Estimate!!SUMMARY INDICATORS!!Child dependency ratio

column id: S0101_C01_034M, name: Total!!Margin of Error!!SUMMARY INDICATORS!!Child dependency ratio

column id: S0101_C01_034MA, name: Annotation of Total!!Margin of Error!!SUMMARY INDICATORS!!Child dependency ratio

column id: S0101_C01_035E, name: Total!!Estimate!!PERCENT IMPUTED!!Sex

column id: S0101_C01_035EA, name: Annotation of Total!!Estimate!!PERCENT IMPUTED!!Sex

column id: S0101_C01_035M, name: Total!!Margin of Error!!PERCENT IMPUTED!!Sex

column id: S0101_C01_035MA, name: Annotation of Total!!Margin of Error!!PERCENT IMPUTED!!Sex

column id: S0101_C01_036E, name: Total!!Estimate!!PERCENT IMPUTED!!Age

column id: S0101_C01_036EA, name: Annotation of Total!!Estimate!!PERCENT IMPUTED!!Age

column id: S0101_C01_036M, name: Total!!Margin of Error!!PERCENT IMPUTED!!Age

column id: S0101_C01_036MA, name: Annotation of Total!!Margin of Error!!PERCENT IMPUTED!!Age

column id: S0101_C02_001E, name: Male!!Estimate!!Total population

column id: S0101_C02_001EA, name: Annotation of Male!!Estimate!!Total population

column id: S0101_C02_001M, name: Male!!Margin of Error!!Total population

column id: S0101_C02_001MA, name: Annotation of Male!!Margin of Error!!Total population

column id: S0101_C02_002E, name: Male!!Estimate!!AGE!!Under 5 years

column id: S0101_C02_002EA, name: Annotation of Male!!Estimate!!AGE!!Under 5 years

column id: S0101_C02_002M, name: Male!!Margin of Error!!AGE!!Under 5 years

column id: S0101_C02_002MA, name: Annotation of Male!!Margin of Error!!AGE!!Under 5 years

column id: S0101_C02_003E, name: Male!!Estimate!!AGE!!5 to 9 years

column id: S0101_C02_003EA, name: Annotation of Male!!Estimate!!AGE!!5 to 9 years

column id: S0101_C02_003M, name: Male!!Margin of Error!!AGE!!5 to 9 years

column id: S0101_C02_003MA, name: Annotation of Male!!Margin of Error!!AGE!!5 to 9 years

column id: S0101_C02_004E, name: Male!!Estimate!!AGE!!10 to 14 years

column id: S0101_C02_004EA, name: Annotation of Male!!Estimate!!AGE!!10 to 14 years

column id: S0101_C02_004M, name: Male!!Margin of Error!!AGE!!10 to 14 years

column id: S0101_C02_004MA, name: Annotation of Male!!Margin of Error!!AGE!!10 to 14 years

column id: S0101_C02_005E, name: Male!!Estimate!!AGE!!15 to 19 years

column id: S0101_C02_005EA, name: Annotation of Male!!Estimate!!AGE!!15 to 19 years

column id: S0101_C02_005M, name: Male!!Margin of Error!!AGE!!15 to 19 years

column id: S0101_C02_005MA, name: Annotation of Male!!Margin of Error!!AGE!!15 to 19 years

column id: S0101_C02_006E, name: Male!!Estimate!!AGE!!20 to 24 years

column id: S0101_C02_006EA, name: Annotation of Male!!Estimate!!AGE!!20 to 24 years

column id: S0101_C02_006M, name: Male!!Margin of Error!!AGE!!20 to 24 years

column id: S0101_C02_006MA, name: Annotation of Male!!Margin of Error!!AGE!!20 to 24 years

column id: S0101_C02_007E, name: Male!!Estimate!!AGE!!25 to 29 years

column id: S0101_C02_007EA, name: Annotation of Male!!Estimate!!AGE!!25 to 29 years

column id: S0101_C02_007M, name: Male!!Margin of Error!!AGE!!25 to 29 years

column id: S0101_C02_007MA, name: Annotation of Male!!Margin of Error!!AGE!!25 to 29 years

column id: S0101_C02_008E, name: Male!!Estimate!!AGE!!30 to 34 years

column id: S0101_C02_008EA, name: Annotation of Male!!Estimate!!AGE!!30 to 34 years

column id: S0101_C02_008M, name: Male!!Margin of Error!!AGE!!30 to 34 years

column id: S0101_C02_008MA, name: Annotation of Male!!Margin of Error!!AGE!!30 to 34 years

column id: S0101_C02_009E, name: Male!!Estimate!!AGE!!35 to 39 years

column id: S0101_C02_009EA, name: Annotation of Male!!Estimate!!AGE!!35 to 39 years

column id: S0101_C02_009M, name: Male!!Margin of Error!!AGE!!35 to 39 years

column id: S0101_C02_009MA, name: Annotation of Male!!Margin of Error!!AGE!!35 to 39 years

column id: S0101_C02_010E, name: Male!!Estimate!!AGE!!40 to 44 years

column id: S0101_C02_010EA, name: Annotation of Male!!Estimate!!AGE!!40 to 44 years

column id: S0101_C02_010M, name: Male!!Margin of Error!!AGE!!40 to 44 years

column id: S0101_C02_010MA, name: Annotation of Male!!Margin of Error!!AGE!!40 to 44 years

column id: S0101_C02_011E, name: Male!!Estimate!!AGE!!45 to 49 years

column id: S0101_C02_011EA, name: Annotation of Male!!Estimate!!AGE!!45 to 49 years

column id: S0101_C02_011M, name: Male!!Margin of Error!!AGE!!45 to 49 years

column id: S0101_C02_011MA, name: Annotation of Male!!Margin of Error!!AGE!!45 to 49 years

column id: S0101_C02_012E, name: Male!!Estimate!!AGE!!50 to 54 years

column id: S0101_C02_012EA, name: Annotation of Male!!Estimate!!AGE!!50 to 54 years

column id: S0101_C02_012M, name: Male!!Margin of Error!!AGE!!50 to 54 years

column id: S0101_C02_012MA, name: Annotation of Male!!Margin of Error!!AGE!!50 to 54 years

column id: S0101_C02_013E, name: Male!!Estimate!!AGE!!55 to 59 years

column id: S0101_C02_013EA, name: Annotation of Male!!Estimate!!AGE!!55 to 59 years

column id: S0101_C02_013M, name: Male!!Margin of Error!!AGE!!55 to 59 years

column id: S0101_C02_013MA, name: Annotation of Male!!Margin of Error!!AGE!!55 to 59 years

column id: S0101_C02_014E, name: Male!!Estimate!!AGE!!60 to 64 years

column id: S0101_C02_014EA, name: Annotation of Male!!Estimate!!AGE!!60 to 64 years

column id: S0101_C02_014M, name: Male!!Margin of Error!!AGE!!60 to 64 years

column id: S0101_C02_014MA, name: Annotation of Male!!Margin of Error!!AGE!!60 to 64 years

column id: S0101_C02_015E, name: Male!!Estimate!!AGE!!65 to 69 years

column id: S0101_C02_015EA, name: Annotation of Male!!Estimate!!AGE!!65 to 69 years

column id: S0101_C02_015M, name: Male!!Margin of Error!!AGE!!65 to 69 years

column id: S0101_C02_015MA, name: Annotation of Male!!Margin of Error!!AGE!!65 to 69 years

column id: S0101_C02_016E, name: Male!!Estimate!!AGE!!70 to 74 years

column id: S0101_C02_016EA, name: Annotation of Male!!Estimate!!AGE!!70 to 74 years

column id: S0101_C02_016M, name: Male!!Margin of Error!!AGE!!70 to 74 years

column id: S0101_C02_016MA, name: Annotation of Male!!Margin of Error!!AGE!!70 to 74 years

column id: S0101_C02_017E, name: Male!!Estimate!!AGE!!75 to 79 years

column id: S0101_C02_017EA, name: Annotation of Male!!Estimate!!AGE!!75 to 79 years

column id: S0101_C02_017M, name: Male!!Margin of Error!!AGE!!75 to 79 years

column id: S0101_C02_017MA, name: Annotation of Male!!Margin of Error!!AGE!!75 to 79 years

column id: S0101_C02_018E, name: Male!!Estimate!!AGE!!80 to 84 years

column id: S0101_C02_018EA, name: Annotation of Male!!Estimate!!AGE!!80 to 84 years

column id: S0101_C02_018M, name: Male!!Margin of Error!!AGE!!80 to 84 years

column id: S0101_C02_018MA, name: Annotation of Male!!Margin of Error!!AGE!!80 to 84 years

column id: S0101_C02_019E, name: Male!!Estimate!!AGE!!85 years and over

column id: S0101_C02_019EA, name: Annotation of Male!!Estimate!!AGE!!85 years and over

column id: S0101_C02_019M, name: Male!!Margin of Error!!AGE!!85 years and over

column id: S0101_C02_019MA, name: Annotation of Male!!Margin of Error!!AGE!!85 years and over

column id: S0101_C02_020E, name: Male!!Estimate!!SELECTED AGE CATEGORIES!!5 to 14 years

column id: S0101_C02_020EA, name: Annotation of Male!!Estimate!!SELECTED AGE CATEGORIES!!5 to 14 years

column id: S0101_C02_020M, name: Male!!Margin of Error!!SELECTED AGE CATEGORIES!!5 to 14 years

column id: S0101_C02_020MA, name: Annotation of Male!!Margin of Error!!SELECTED AGE CATEGORIES!!5 to 14 years

column id: S0101_C02_021E, name: Male!!Estimate!!SELECTED AGE CATEGORIES!!15 to 17 years

column id: S0101_C02_021EA, name: Annotation of Male!!Estimate!!SELECTED AGE CATEGORIES!!15 to 17 years

column id: S0101_C02_021M, name: Male!!Margin of Error!!SELECTED AGE CATEGORIES!!15 to 17 years


# Uploading data to Neo4j

In [3]:
URI = "neo4j+s://83293afd.databases.neo4j.io"
AUTH = ("neo4j", "zqAocjicT9GkR0s9Czq-R44tRfGGi2hYyZaPK3SjuHk")

with GraphDatabase.driver(URI, auth=AUTH) as driver:
    driver.verify_connectivity()

In [14]:
def main():
    with GraphDatabase.driver(URI, auth=AUTH) as driver:
        with driver.session(database="neo4j") as session:
            for state in zhvi['StateName'].unique():       
                session.execute_write(county_tx, state)
                print(f"State {state} added")


def county_tx(tx, name):
    # Create new County node with given name, if not exists already
    result = tx.run("""
        MERGE (s:State {name: $name})
        RETURN s.name AS name
        """, name=name
    )


main()

State CA added
State IL added
State TX added
State AZ added
State NY added
State FL added
State WA added
State NV added
State MI added
State MA added
State PA added
State OH added
State MN added
State UT added
State VA added
State NC added
State MD added
State GA added
State HI added
State MO added
State IN added
State CT added
State NJ added
State WI added
State TN added
State OR added
State OK added
State KY added
State CO added
State DC added
State NM added
State AL added
State RI added
State KS added
State NE added
State DE added
State SC added
State IA added
State ID added
State LA added
State NH added
State AR added
State ME added
State AK added
State MS added
State SD added
State ND added
State WV added
State VT added
State MT added
State WY added

In [15]:
def main():
    with GraphDatabase.driver(URI, auth=AUTH) as driver:
        with driver.session(database="neo4j") as session:
            for state in zhvi['StateName'].unique():       
                # Call the function to add counties for each state
                add_counties_for_state(session, state)
                print(f"Counties added for State {state}")


def add_counties_for_state(session, state_name):
    # Fetch county names for the given state
    state_filtered_data = zhvi[zhvi['State'] == state_name]
    county_names = state_filtered_data['RegionName'].unique()

    # Create "has county" relationships for the state
    for county_name in county_names:
        session.execute_write(add_county_relationship, state_name, county_name)


def add_county_relationship(tx, state_name, county_name):
    # Create a relationship "has county" between state and county
    tx.run("""
        MATCH (s:State {name: $state_name})
        MERGE (c:County {name: $county_name})
        MERGE (s)-[:HAS_COUNTY]->(c)
        """, state_name=state_name, county_name=county_name
    )


main()

Counties added for State CA
Counties added for State IL
Counties added for State TX
Counties added for State AZ
Counties added for State NY
Counties added for State FL
Counties added for State WA
Counties added for State NV
Counties added for State MI
Counties added for State MA
Counties added for State PA
Counties added for State OH
Counties added for State MN
Counties added for State UT
Counties added for State VA
Counties added for State NC
Counties added for State MD
Counties added for State GA
Counties added for State HI
Counties added for State MO
Counties added for State IN
Counties added for State CT
Counties added for State NJ
Counties added for State WI
Counties added for State TN
Counties added for State OR
Counties added for State OK
Counties added for State KY
Counties added for State CO
Counties added for State DC
Counties added for State NM
Counties added for State AL
Counties added for State RI
Counties added for State KS
Counties added for State NE
Counties added for State DE
Counties added for State SC
Counties added for State IA
Counties added for State ID
Counties added for State LA
Counties added for State NH
Counties added for State AR
Counties added for State ME
Counties added for State AK
Counties added for State MS
Counties added for State SD
Counties added for State ND
Counties added for State WV
Counties added for State VT
Counties added for State MT
Counties added for State WY

In [ ]:
# def main():
#     with GraphDatabase.driver(URI, auth=AUTH) as driver:
#         with driver.session(database="neo4j") as session:
#             for state in zhvi['StateName'].unique():       
#                 # Call the function to add counties for each state
#                 add_counties_for_state(session, state)
#                 print(f"ZHI added for State {state}")


# def add_counties_for_state(session, state_name):
#     # Fetch county names for the given state
#     state_filtered_data = zhvi[zhvi['State'] == state_name]
#     county_names = state_filtered_data['RegionName'].unique()

#     # Create "has county" relationships for the state
#     for county_name in county_names:
#         session.execute_write(add_county_relationship, state_name, county_name)


# def add_county_relationship(tx, state_name, county_name):
#     # Create a relationship "has county" between state and county
#     tx.run("""
#         MATCH (s:State {name: $state_name})
#         MERGE (c:County {name: $county_name})
#         MERGE (s)-[:HAS_COUNTY]->(c)
#         """, state_name=state_name, county_name=county_name
#     )


# main()

In [20]:
x = zhvi[zhvi['RegionName'] == "Garfield County"]

In [21]:
x

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30
847,2303,858,Garfield County,county,OK,OK,"Enid, OK",40,47,70651.404952,...,128649.579885,129122.498007,129246.327992,129380.671585,129454.615202,129712.822780,129553.565661,129576.186891,129713.734128,130288.307411
860,2300,871,Garfield County,county,CO,CO,"Glenwood Springs, CO",8,45,122726.633456,...,638353.666603,643403.304646,647217.235462,650513.709023,653757.224244,655643.645269,656540.638887,658797.872430,662670.435543,668518.079578
2808,2304,2898,Garfield County,county,UT,UT,NaN,49,17,NaN,...,322299.306670,322961.538650,324156.300713,325418.236273,325474.011417,323940.628934,322481.655727,322807.265860,324512.777092,326278.316217
2984,2305,3094,Garfield County,county,WA,WA,NaN,53,23,NaN,...,231883.436645,232792.977065,232894.519476,233088.147969,233355.939981,233242.412678,232883.364917,233929.898161,235834.861308,238064.087288
3010,2302,3128,Garfield County,county,NE,NE,NaN,31,71,NaN,...,415798.006343,415683.573286,413522.653269,410793.707471,408841.599143,408362.316286,407727.053063,407743.130497,411844.955818,422120.565584
3055,2301,3185,Garfield County,county,MT,MT,NaN,30,33,NaN,...,268445.566616,271564.596777,272765.647870,273089.216846,272423.629098,272266.361062,274295.720110,279560.356332,285359.901463,290518.502008